div.header{
background-color:#00CED1;
padding:20px;
margin:20px;
text-align:center;
color:white;
margin:20px;
}

div.sidebar{
background-color:#9ACD32;
text-align:center;
color:white;
padding:120px 40px;
float:left;
margin-right:10px;
margin-left:10px;
width:30%;
}

div.maincontent{
background-color: Gold;
width:54.5%;
padding:67.8px 40px;
text-align:center;
color: white;
margin:5px;
overflow:auto;
}

div.extracontent{
background-color:DimGrey;
width:54.5%;
padding:7.8px 40px;
text-align:center;
color:white;
margin:10px;
overflow:auto;
}

div.line2{
margin:10px;
width:100%;
}

div.footer{
background-color:orange;
padding:10px;
text-align:center;
color:white;
margin:20px;
}
